---
layout: default
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/isotope.pkgd.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/octicons.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <link rel="stylesheet" href="/stylesheets/bib-publication-list.css"/>
    <link rel="stylesheet" href="/stylesheets/default/default.css" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-53194826-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>

    <title>Brainhack</title>

  </head>

  <body>
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <div class="container-bhack" >
      <img src="/assets/images/brainhack_header.png" id="logo">
    
    </div>

    {{ content }}

  </body>
</html>
